extends layout

block content
  h1= title
  p #{title} Authentication
  p Endpoints:
  p {url}/oauth/auth/facebook
  p {url}/forgot/password/{user-id}/recipient/{email}
  p {url}/forgot/passcode/{user-id}/recipient/{email}
